@model ContactPosts

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ContactPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerDate" class="control-label"></label>
                <input asp-for="AnswerDate" class="form-control" />
                <span asp-validation-for="AnswerDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerByUserID" class="control-label"></label>
                <input asp-for="AnswerByUserID" class="form-control" />
                <span asp-validation-for="AnswerByUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatByUserId" class="control-label"></label>
                <input asp-for="CreatByUserId" class="form-control" />
                <span asp-validation-for="CreatByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatDate" class="control-label"></label>
                <input asp-for="CreatDate" class="form-control" />
                <span asp-validation-for="CreatDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedByUserID" class="control-label"></label>
                <input asp-for="DeletedByUserID" class="form-control" />
                <span asp-validation-for="DeletedByUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedDate" class="control-label"></label>
                <input asp-for="DeletedDate" class="form-control" />
                <span asp-validation-for="DeletedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

