@model InstagramCreatCommand

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>InstagramPhoto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-12">

                <label class="control-label">
                    Şəkil
                </label>
                <label class="image-input" for="file">
                    <input type="hidden" name="fileTemp" value="">
                    <span>×</span>
                </label>
                <input name="file" id="file" type="file" accept="image/x-png,image/gif,image />
               

             </div>
             

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section addjs{
    <script src="~/libs/jqueryimage/ImageGetiren.js"></script>
}
@section addcss{
    <link href="~/libs/jqueryimage/StyleSheet.css" rel="stylesheet" />
}

