@model ToyStoreSolution.Models.Entities.InstagramPhoto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InstagramPhoto</h4>
    <hr />
    <dl class="row">
        <div class="col-4">
            <div class="input-group mb-3">

                <img width="200" height="200" class="img-fluid" src="~/uploads/images/@Model.ImgPath" />


            </div>
        </div>
       
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
