@model AboutIntroViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AboutIntro</h4>
<hr />
<div class="row">
    <div class="col-12 card-body">
        <div class="form-row">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>





                <div class="form-group col-12 ">
                    <label class="control-label">
                        Şəkil
                    </label>
                    <label style="width:400px" class="image-input"
                           data-imgurl="/uploads/images/@Model.ImgPath"
                           for="file">
                        <input type="hidden" name="fileTemp" value="@Model.file">
                        <span>×</span>
                    </label>
                    <input name="file" id="file" type="file" accept="image/x-png,image/gif,image/jpeg">
                </div>

                <input type="hidden" asp-for="Id" />
                <div class="form-group ">
                    <label asp-for="Tittle" class="control-label"></label>
                    <input asp-for="Tittle" class="form-control" />
                    <span asp-validation-for="Tittle" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label asp-for="Head" class="control-label"></label>
                    <input asp-for="Head" class="form-control" />
                    <span asp-validation-for="Head" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label asp-for="Desc" class="control-label"></label>
                    <input asp-for="Desc" class="form-control" />
                    <span asp-validation-for="Desc" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>

    </div>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
</div>

@section addjs{

    <script src="~/libs/ckeditor5/ckeditor.js"></script>
    <script src="~/libs/jquery-image-input/JavaScript.js"></script>



}


@section addcss{

    <link href="~/libs/jquery-image-input/StyleSheet.css" rel="stylesheet" />

}