@model ProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Icon Name</label>
                <select asp-for="SortId" class="form-control" asp-items="ViewBag.ProductTypesId"></select>
            </div>
            <div class="form-group col-12 ">
                <label class="control-label">
                    Şəkil
                </label>
                <label class="image-input"
                       data-imgurl="/uploads/images/@Model.ImgPath"
                       for="file">
                    <input type="hidden" name="fileTemp" value="@Model.file">
                    <span>×</span>
                </label>
                <input name="file" id="file" type="file" accept="image/x-png,image/gif,image/jpeg">
            </div>
            <div class="form-group">
                <label asp-for="HomePageShow" class="control-label"></label>
                <input style=" margin-top: -38px;" asp-for="HomePageShow" class="form-control" />
                <span asp-validation-for="HomePageShow" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <input asp-for="Desc" class="form-control" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sku" class="control-label"></label>
                <input asp-for="Sku" class="form-control" />
                <span asp-validation-for="Sku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label sil"></label>
                <textarea asp-for="Body" class="form-control"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section addjs{

    <script src="~/libs/ckeditor5/ckeditor.js"></script>
    <script src="~/libs/jqueryimage/ImageGetiren.js"></script>
    <script>
        $(document).ready(function () {

            ClassicEditor
                .create(document.querySelector('#Body'))
                .catch(error => {
                    console.error(error);
                });



        });
        $(document).ready(function () {

            var elem = $('.textarea').text().length;

            if (elem == 48) {
                $('.sil').hide();
            }

        });</script>
}
@section addcss{
    <link href="~/libs/jqueryimage/StyleSheet.css" rel="stylesheet" />
}



